/* highlight container */
.highlights-container {
  background-color: #fff;
}
/* description */
.high-desc-container {
  margin-left: 7rem;
}

/* special container */
.specials-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

/* special */
.special {
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  justify-content: center;
  padding: 20px;
  width: 20rem;
  margin: 20px;
  background-color: #FBDABB;
}

/* image */
.special-img{
  height: 200px;
  width: 100%;
}

.special .special-btn{
  align-self: center;
}

@media screen and (max-width: 600px) {

  .highlights-container,
  .specials-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}