/* About container */
.about-container{
  display: flex;
  min-height: 22rem;
  align-items: center;
 
/* 
  background-color: aquamarine; */
}

/* description container */
.about-desc-container{
  width: 50%;
}

/* image conatiner */
.about-img-container{
  margin: 4rem;
  position: relative  ;
}

/* to provide img propertis */
.about-img{
 
  height: 200px;
}

/* to place image on one another */
.over-img {
  margin: 4rem;
  position: absolute;
  top: -50%;
  left: 60%;
}

@media screen and (max-width: 600px) {

  .about-container
   {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .about-img {
    height: 200px;
    width: 100px;

  }
}