
/* Footer container */
.footer-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FBDABB;
  height: 15rem;
}

/* media query */
@media screen and (max-width: 960px) {
  .footer-container {
    flex-direction: column;
    height: 45rem;
  }
}


/* Footer Logo */
.footer-logo{
  height: 10rem;
}