/* Testimonials container */
.testimonials-container {
  height: 30rem;
}

.test-header{
  text-align: center;
}

/* testinmonial */
.reviews-container{
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: #F4CE14; */
}

/* review */
.reviews{
  margin: 20px;
  padding: 10px;
  height: 25;
  background-color: #495E57;
  border-radius: 10px;
}