h1{
  font-size: 40px;

}
h1 {
  font-size: 30px;

}
h4{
  font-size: 25px;
}

p{
  font-size: 15;
}

button{
  background-color: #F4CE14;
  font-size: 16px;
  border: none;
  text-align: center;
  font-weight: bold;
  padding: 20px 40px;
  cursor: pointer;
}