@media screen and (max-width: 960px) {
  .nav-container {
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .nav-container {
    flex-direction: column;
    /* use a vertical layout */
    text-align: center;
  }
}
.nav-container{
  display: flex;
}
.container{
  margin-left: auto;
  display: flex;
}
li{

  list-style: none; 

}

a{
  font-family: 'Markazi Text', serif;
  font-size: 1.5rem;
  margin: 2rem  ;
  text-decoration: none;
  color: #495E57;

}
a:hover {
  color: #F4CE14;
  background-color: #495E57;
  padding: 0 10px;
  border-radius: 10px;

}